<mat-toolbar class="toolbar bg-white shadow-sm">

  <ul>
    <li routerLink="/">home</li>
    <li routerLink="/dashboard" *ngIf="authenticated">Dashboard</li>
  </ul>

  <div class="auth">
    <button mat-raised-button class="mx-2" routerLink="/auth/register" *ngIf="!authenticated">register</button>
    <button mat-raised-button class="mx-2" color="primary" routerLink="/auth/login" *ngIf="!authenticated">login</button>
    <button mat-raised-button class="mx-2" color="warn" *ngIf="authenticated">logout</button>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>
